body {
  margin: 0;
  padding: 0;
}

h1 {
  margin-left: 20px;
}

h2 {
  margin: 10px 0;
  padding: 0;
}

button {
  cursor: pointer;
  font-weight: 600;
  background-color: goldenrod;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

button:hover {
  filter: brightness(120%);
}

.content-container {
  display: grid;
  grid-template-columns: minmax(150px, 250px) 1fr;
  height: 100vh;
}

.projects-container {
  background-color: lightgreen;
  padding: 0px 0px;
}

.add-project {
  background-color: rgba(19, 171, 37, 0.815);
}

.projects-container h2,
.projects-container button {
  margin-left: 10px;
}

.project {
  cursor: pointer;
  margin: 20px 0px;
  padding: 5px 10px;
  display: grid;
  gap: 5px;
  /* grid-template-columns: 1fr 20px; */
  grid-template-columns: minmax(100px, 250px) 20px;
  background-color: rgb(72, 217, 72);
  color: black;
  justify-content: space-between;

  max-width: 1000px;
}

.project-text {
  /* white-space: nowrap; */
  /* overflow-wrap: break-word; */
  overflow: auto;
  margin-left: 10px;
  /* word-break: break-all; */
}

.project-active {
  background-color: green;
  filter: brightness(120%);
  color: white;
}

.close-project {
  width: 20px;
  margin-left: auto;
}

.cards-supercontainer {
  padding: 0 20px;
  border: 3px solid green;
  min-width: 250px;
}

.add-todo {
  background-color: rgb(73, 179, 214);
}

.cards-container {
  margin: 20px 0px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  /* padding-left: 20px; */
  /* grid-template-columns: repeat(2, 100px); */
  column-gap: 30px;
  row-gap: 20px;
  /* padding: 0 20px; */
}

.card {
  background-color: lightskyblue;
  border-radius: 5px;
  width: 150px;
  padding: 10px 10px;
  height: 200px;
  overflow: hidden;
  /* margin: 0 20px; */
}

/* .card-description {
  max-height: 100px;
  height: 100px;
  overflow: hidden;
} */

.card button {
  margin-top: 100%;
  position: relative;
  top: -120px;
}

.close-card {
  width: 20px;
  margin-left: 100%;
  position: relative;
  left: -20px;
}

/* .modal {
  background-color: lightblue;
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  padding: 20px 20px;
  border-radius: 1rem;
  width: clamp(100px, 20vw, 300px);
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
} */

.modal {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.5s;
  overflow: auto;
  transition: all 0.3s linear;
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px 40px;
  border-radius: 4px;
  max-width: 300px;
  height: 450px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.modalOpen {
  overflow: hidden;
}
.is-hidden {
  display: none;
}
.is-visuallyHidden {
  opacity: 0;
}

.is-blurred {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.close-modal {
  width: 40px;
  margin-left: 100%;
  position: relative;
  left: -20px;
}

.modal-content input,
.modal-content textarea {
  margin: 0;
  margin-bottom: 10px;
  width: 100%;
}

.modal-content textarea {
  height: 250px;
}
